@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
:root {
  --b-header-bg: var(--h-dark-2);
  --b-header-height: 60px;
  --b-header-text: #ffffff;
  --b-header-text-dark: #000000;
  --h-skin-opacity: 0.4;
  --side-width: 250px;
  --color-page-header-bg: #f6f8fa;
  --color-border-default: #d0d7de;
  --h-primary: #1f75ff;
  --h-primary-light: #61daff;
  --h-primary-dark: #0b4398;
  --h-secondary: #6c757d;
  --h-secondary-dark: #555b5f;
  --h-secondary-light: #95a0aa;
  --h-danger-light: #ff0000;
  --h-danger: #eb0606;
  --h-danger-dark: #b30000;
  --h-danger-2: #e63946;
  --h-success: #2ecc40;
  --h-success-light: #39ee4e;
  --h-success-dark: #178524;
  --h-warning: #ffdc00;
  --h-warning-dark: #ff8c00;
  --h-info: #72dcef;
  --h-info-dark: #52aebf;
  --h-info-light: #bff5ff;
  --h-light: #ffffff;
  --h-light-2: #d8d8d8;
  --h-dark: #272727;
  --h-dark-2: #565656;
  --h-dark-4: #24292f;
  --h-dark-3: #353535;
  --h-purple: #6800d4;
  --h-primary-x: 47, 121, 241;
  --h-primary-light-x: 97, 218, 255;
  --h-secondary-x: 108, 117, 125;
  --h-secondary-light-x: 149, 160, 170;
  --h-danger-x: 235, 6, 6;
  --h-danger-light-x: 255, 0, 0;
  --h-danger-dark-x: 179, 0, 0;
  --h-success-x: 46, 204, 64;
  --h-success-light-x: 57, 238, 78;
  --h-warning-x: 255, 220, 0;
  --h-warning-dark-x: 255, 140, 0;
  --h-info-x: 114, 220, 239;
  --h-info-light-x: 191, 245, 255;
  --h-dark-x: 39, 39, 39;
  --h-dark-2-x: 36, 41, 47;
  --h-info-dark-x: 82, 174, 191;
  --h-light-x: 255, 255, 255;
  --h-light-2-x: 86, 86, 86;
  --h-purple-x: 104, 0, 212;
  --h-font-title: "Fredoka One", cursive;
  --h-font-default: Montserrat;
  --h-pink: rgb(255, 224, 230);
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
}
body[img] {
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body * {
  font-family: var(--h-font-default);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-page-header-bg);
}

hr {
  border-bottom: 1px solid var(--color-border-default);
  border-top: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class^=col-] {
  flex: 0 0 auto;
}

.col-xs,
.col-sm,
.col-md,
.col-lg,
.col-xl,
.col-xxl {
  flex: 1 0 0%;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-1 {
  width: 8.3333333333%;
}

@media (max-width: 479px) {
  .col-xxs-12 {
    width: 100%;
  }
  .col-xxs-11 {
    width: 91.6666666667%;
  }
  .col-xxs-10 {
    width: 83.3333333333%;
  }
  .col-xxs-9 {
    width: 75%;
  }
  .col-xxs-8 {
    width: 66.6666666667%;
  }
  .col-xxs-7 {
    width: 58.3333333333%;
  }
  .col-xxs-6 {
    width: 50%;
  }
  .col-xxs-5 {
    width: 41.6666666667%;
  }
  .col-xxs-4 {
    width: 33.3333333333%;
  }
  .col-xxs-3 {
    width: 25%;
  }
  .col-xxs-2 {
    width: 16.6666666667%;
  }
  .col-xxs-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 480px) {
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.6666666667%;
  }
  .col-xs-10 {
    width: 83.3333333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.6666666667%;
  }
  .col-xs-7 {
    width: 58.3333333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.6666666667%;
  }
  .col-xs-4 {
    width: 33.3333333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.6666666667%;
  }
  .col-xs-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 576px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 1024px) {
  .col-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 1200px) {
  .col-xxl-12 {
    width: 100%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
}
.b-header {
  z-index: 32;
  display: flex;
  padding: 8px;
  font-size: 14px;
  color: var(--b-header-text);
  background-color: var(--b-header-bg);
  align-items: center;
  flex-wrap: nowrap;
  height: var(--b-header-height);
  flex: 1 0 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.b-header .b-logo-title {
  color: white;
  margin-right: 1em;
  text-decoration: none;
  font-family: var(--h-font-title);
  font-size: 2em;
}
.b-header > * {
  margin-right: 5px;
  color: var(--b-header-text);
}
.b-header > *:last-child {
  margin-right: 0;
}
.b-header .b-header-end {
  margin-left: auto;
  max-width: 100%;
}
.b-header[skin=blur] {
  box-shadow: 0 2px 5px -4px black;
}

.b-header ~ .b-body {
  height: calc(100vh - var(--header-height));
}

.b-body {
  height: 100vh;
  overflow: auto;
  width: -webkit-fill-available;
  display: flex;
}

.b-main {
  overflow: auto;
  flex: 1;
}

.b-side {
  width: 250px;
  min-height: calc(100vh - var(--header-height));
  padding: 0.5em;
  overflow: hidden;
  transition: width 0.5s, padding 0.5s, filter 0.6s ease-out;
}
.b-side.contracted {
  width: 0% !important;
  padding: 0;
  filter: opacity(0);
}
.b-side[size=xs] {
  width: 2em;
}
.b-side[size=sm] {
  width: 5em;
}
.b-side[size=md] {
  width: 10em;
}
.b-side[size=lg] {
  width: 12em;
}
.b-side[size=xl] {
  width: 16em;
}
.b-side[size=xxl] {
  width: 20em;
}
.b-side[color=white] {
  background: white;
}
.b-side[color=dark] {
  background: var(--h-dark);
}

.toggle {
  content: "";
  width: 20px;
  height: 20px;
  background: rgba(var(--h-dark-x), 0.8);
  position: absolute;
  z-index: 1;
  border-radius: 0 5px 5px 0;
}

.b-btn {
  border: none;
  outline: none;
  border-radius: 4px;
  transition: background 0.4s, box-shadow 0.1s;
}

.b-btn-push {
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.3), 0 -4px rgba(0, 0, 0, 0.2) inset;
  transition: box-shadow 20ms linear, background 0.5s;
}
.b-btn-push::after {
  box-shadow: 0 -4px rgba(0, 0, 0, 0.2) inset;
  border-radius: 4px;
}
.b-btn-push::before {
  box-shadow: 0 -4px rgba(0, 0, 0, 0.2) inset;
  border-radius: 4px;
  background-color: none;
}
.b-btn-push:active {
  box-shadow: 0 1px rgba(0, 0, 0, 0.6);
  transform: translateY(2px);
}
.b-btn-push[color=alternate] {
  box-shadow: 0 3px rgba(0, 0, 0, 0.4);
}
.b-btn-push[color=alternate]:active {
  box-shadow: 0 1px rgba(0, 0, 0, 0.6);
}
.b-btn-push .bx-1.b-btn-push::after {
  box-shadow: 0 -2px 0 2px rgba(0, 0, 0, 0.15) inset;
}
.b-btn-push[align=up] {
  transform: translateY(-3px);
}
.b-btn-push[align=up]:active {
  transform: translateY(-1px);
}

.b-btn-gate {
  border: none;
  font-weight: 700;
  box-shadow: 0 0 0 2px var(--secondary) inset;
  overflow: hidden;
  background: transparent !important;
  transition: box-shadow 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  z-index: 0;
}
.b-btn-gate:active {
  box-shadow: none !important;
}
.b-btn-gate:hover::before {
  transform: translate3d(0, -102%, 0);
  filter: none !important;
}
.b-btn-gate:hover {
  color: var(--secondary);
}
.b-btn-gate::before {
  content: "";
  background: white;
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.b-btn-hover {
  margin: 0;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  line-height: 1.4;
  padding: 13px 20px;
  border-radius: 4px;
  transition: box-shadow 0.1s, top 0.1s;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  top: 0;
  background: #fff;
}
.b-btn-hover:hover {
  box-shadow: 0 3px 0 transparent;
  top: 3px;
}
.b-btn-hover:active {
  background: #f2f2f2;
}

.b-btn-icon {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: default;
  outline: none;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-btn-icon:hover {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

.b-btn-gradient {
  transition: 0.8s;
  border: none;
  border-radius: 4px;
  outline: none;
  background-size: 280% auto;
}
.b-btn-gradient:hover {
  background-position: right top;
}
.b-btn-gradient:is(:focus, :focus-within, :active) {
  box-shadow: 0 0 0 3px white, 0 0 0 6px var(--h-primary);
}
@media (prefers-reduced-motion: reduce) {
  .b-btn-gradient {
    transition: linear;
  }
}
.b-btn-gradient[color=primary] {
  background-image: linear-gradient(325deg, var(--h-primary) 0%, var(--h-primary-light) 55%, var(--h-primary) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-primary-light-x), 0.5), 0px 5px 5px -1px rgba(var(--h-primary-x), 0.25), inset 4px 4px 8px rgba(var(--h-primary-light-x), 0.25), inset -4px -4px 8px rgba(var(--h-primary-x), 0.35);
}
.b-btn-gradient[color=secondary] {
  background-image: linear-gradient(325deg, var(--h-secondary) 0%, var(--h-secondary-light) 55%, var(--h-secondary) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-secondary-light-x), 0.5), 0px 5px 5px -1px rgba(var(--h-secondary-x), 0.25), inset 4px 4px 8px rgba(var(--h-secondary-light-x), 0.25), inset -4px -4px 8px rgba(var(--h-secondary-x), 0.35);
}
.b-btn-gradient[color=success] {
  background-image: linear-gradient(325deg, var(--h-success) 0%, var(--h-success-light) 55%, var(--h-success) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-success-light-x), 0.5), 0px 5px 5px -1px rgba(var(--h-success-x), 0.25), inset 4px 4px 8px rgba(var(--h-success-light-x), 0.25), inset -4px -4px 8px rgba(var(--h-success-x), 0.35);
}
.b-btn-gradient[color=danger] {
  background-image: linear-gradient(325deg, var(--h-danger-dark) 0%, var(--h-danger-light) 55%, var(--h-danger-dark) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-danger-light-x), 0.5), 0px 5px 5px -1px rgba(var(--h-danger-dark-x), 0.25), inset 4px 4px 8px rgba(var(--h-danger-light-x), 0.25), inset -4px -4px 8px rgba(var(--h-danger-dark-x), 0.35);
}
.b-btn-gradient[color=warning] {
  background-image: linear-gradient(325deg, var(--h-warning-dark) 0%, var(--h-warning) 55%, var(--h-warning-dark) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-warning-x), 0.5), 0px 5px 5px -1px rgba(var(--h-warning-dark-x), 0.25), inset 4px 4px 8px rgba(var(--h-warning-x), 0.25), inset -4px -4px 8px rgba(var(--h-warning-dark-x), 0.35);
}
.b-btn-gradient[color=info] {
  background-image: linear-gradient(325deg, var(--h-info-light) 0%, var(--h-info) 55%, var(--h-info-light) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-info-x), 0.5), 0px 5px 5px -1px rgba(var(--h-info-dark-x), 0.25), inset 4px 4px 8px rgba(var(--h-info-dark-x), 0.15), inset -4px -4px 8px rgba(var(--h-info-dark-x), 0.35);
}
.b-btn-gradient[color=light] {
  background-image: linear-gradient(325deg, var(--h-light) 0%, var(--h-light-2) 55%, var(--h-light) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-light-x), 0.5), 0px 5px 5px -1px rgba(var(--h-light-2-x), 0.25), inset 4px 4px 8px rgba(var(--h-light-2-x), 0.15), inset -4px -4px 8px rgba(var(--h-light-2-x), 0.15);
}
.b-btn-gradient[color=dark] {
  background-image: linear-gradient(325deg, var(--h-dark) 0%, var(--h-dark-2) 55%, var(--h-dark) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-dark-x), 0.5), 0px 5px 5px -1px rgba(var(--h-dark-2-x), 0.25), inset 4px 4px 8px rgba(var(--h-dark-2-x), 0.25), inset -4px -4px 8px rgba(var(--h-dark-2-x), 0.35);
}

.b-btn:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(var(--h-primary-x), 0.5);
}
.b-btn[color=primary]:active {
  box-shadow: 0 0 0 0.25rem rgba(var(--h-primary-x), 0.5);
}
.b-btn[color=secondary]:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(var(--h-secondary-x), 0.5);
}
.b-btn[color=success]:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(var(--h-success-x), 0.5);
}
.b-btn[color=danger]:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(var(--h-danger-x), 0.5);
}
.b-btn[color=warning]:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(var(--h-warning-x), 0.3);
}
.b-btn[color=info]:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(var(--h-info-x), 0.5);
}
.b-btn[color=light]:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(var(--h-dark-x), 0.2);
}
.b-btn[color=dark]:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(var(--h-dark-x), 0.5);
}
.b-btn[color=default]:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}
.b-btn[color=alternate]:focus-within {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);
}
.b-btn:active:not([bordered]) {
  box-shadow: none !important;
}
.b-btn[no-focus] {
  box-shadow: none !important;
}

.b-btn[color=default],
.b-btn-push[color=default],
.b-btn-gate[color=default] {
  color: var(--h-light);
  background: rgba(255, 255, 255, 0.1);
}
.b-btn[color=default]::before,
.b-btn-push[color=default]::before,
.b-btn-gate[color=default]::before {
  background: transparent;
}
.b-btn[color=default]:not([no-efx]):active,
.b-btn-push[color=default]:not([no-efx]):active,
.b-btn-gate[color=default]:not([no-efx]):active {
  background: rgba(255, 255, 255, 0.3);
}
.b-btn[color=default]:not([no-efx]):hover,
.b-btn-push[color=default]:not([no-efx]):hover,
.b-btn-gate[color=default]:not([no-efx]):hover {
  background: rgba(255, 255, 255, 0.2);
}
.b-btn[color=alternate],
.b-btn-push[color=alternate],
.b-btn-gate[color=alternate] {
  background: rgba(0, 0, 0, 0.1);
}
.b-btn[color=alternate]::before,
.b-btn-push[color=alternate]::before,
.b-btn-gate[color=alternate]::before {
  background: transparent;
}
.b-btn[color=alternate]:not([no-efx]):hover,
.b-btn-push[color=alternate]:not([no-efx]):hover,
.b-btn-gate[color=alternate]:not([no-efx]):hover {
  background: rgba(0, 0, 0, 0.2);
}
.b-btn[color=alternate]:not([no-efx]):active,
.b-btn-push[color=alternate]:not([no-efx]):active,
.b-btn-gate[color=alternate]:not([no-efx]):active {
  background: rgba(0, 0, 0, 0.3);
}
.b-btn[color=primary],
.b-btn-push[color=primary],
.b-btn-gate[color=primary] {
  background: var(--h-primary);
}
.b-btn[color=primary]::before,
.b-btn-push[color=primary]::before,
.b-btn-gate[color=primary]::before {
  background-color: var(--h-primary-dark);
}
.b-btn[color=primary]:not([no-efx]):hover,
.b-btn-push[color=primary]:not([no-efx]):hover,
.b-btn-gate[color=primary]:not([no-efx]):hover {
  background: rgba(var(--h-primary-x), 0.5);
}
.b-btn[color=primary]:not([no-efx]):active,
.b-btn-push[color=primary]:not([no-efx]):active,
.b-btn-gate[color=primary]:not([no-efx]):active {
  background: rgba(var(--h-primary-x), 0.2);
}
.b-btn[color=secondary],
.b-btn-push[color=secondary],
.b-btn-gate[color=secondary] {
  background: var(--h-secondary);
}
.b-btn[color=secondary]::before,
.b-btn-push[color=secondary]::before,
.b-btn-gate[color=secondary]::before {
  background-color: var(--h-secondary-dark);
}
.b-btn[color=secondary]:not([no-efx]):hover,
.b-btn-push[color=secondary]:not([no-efx]):hover,
.b-btn-gate[color=secondary]:not([no-efx]):hover {
  background: rgba(var(--h-secondary-x), 0.5);
}
.b-btn[color=secondary]:not([no-efx]):active,
.b-btn-push[color=secondary]:not([no-efx]):active,
.b-btn-gate[color=secondary]:not([no-efx]):active {
  background: rgba(var(--h-secondary-x), 0.2);
}
.b-btn[color=success],
.b-btn-push[color=success],
.b-btn-gate[color=success] {
  background: var(--h-success);
}
.b-btn[color=success]::before,
.b-btn-push[color=success]::before,
.b-btn-gate[color=success]::before {
  background-color: var(--h-success-dark);
}
.b-btn[color=success]:not([no-efx]):hover,
.b-btn-push[color=success]:not([no-efx]):hover,
.b-btn-gate[color=success]:not([no-efx]):hover {
  background: rgba(var(--h-success-x), 0.5);
}
.b-btn[color=success]:not([no-efx]):active,
.b-btn-push[color=success]:not([no-efx]):active,
.b-btn-gate[color=success]:not([no-efx]):active {
  background: rgba(var(--h-success-x), 0.2);
}
.b-btn[color=warning],
.b-btn-push[color=warning],
.b-btn-gate[color=warning] {
  background: var(--h-warning);
}
.b-btn[color=warning]::before,
.b-btn-push[color=warning]::before,
.b-btn-gate[color=warning]::before {
  background-color: var(--h-warning-dark);
}
.b-btn[color=warning]:not([no-efx]):hover,
.b-btn-push[color=warning]:not([no-efx]):hover,
.b-btn-gate[color=warning]:not([no-efx]):hover {
  background: rgba(var(--h-warning-x), 0.5);
}
.b-btn[color=warning]:not([no-efx]):active,
.b-btn-push[color=warning]:not([no-efx]):active,
.b-btn-gate[color=warning]:not([no-efx]):active {
  background: rgba(var(--h-warning-x), 0.2);
}
.b-btn[color=danger],
.b-btn-push[color=danger],
.b-btn-gate[color=danger] {
  background: var(--h-danger);
}
.b-btn[color=danger]::before,
.b-btn-push[color=danger]::before,
.b-btn-gate[color=danger]::before {
  background-color: var(--h-danger-dark);
}
.b-btn[color=danger]:not([no-efx]):hover,
.b-btn-push[color=danger]:not([no-efx]):hover,
.b-btn-gate[color=danger]:not([no-efx]):hover {
  background: rgba(var(--h-danger-x), 0.5);
}
.b-btn[color=danger]:not([no-efx]):active,
.b-btn-push[color=danger]:not([no-efx]):active,
.b-btn-gate[color=danger]:not([no-efx]):active {
  background: rgba(var(--h-danger-x), 0.2);
}
.b-btn[color=info],
.b-btn-push[color=info],
.b-btn-gate[color=info] {
  background: var(--h-info);
}
.b-btn[color=info]::before,
.b-btn-push[color=info]::before,
.b-btn-gate[color=info]::before {
  background-color: var(--h-info-dark);
}
.b-btn[color=info]:not([no-efx]):hover,
.b-btn-push[color=info]:not([no-efx]):hover,
.b-btn-gate[color=info]:not([no-efx]):hover {
  background: rgba(var(--h-info-x), 0.5);
}
.b-btn[color=info]:not([no-efx]):active,
.b-btn-push[color=info]:not([no-efx]):active,
.b-btn-gate[color=info]:not([no-efx]):active {
  background: rgba(var(--h-info-x), 0.2);
}
.b-btn[color=light],
.b-btn-push[color=light],
.b-btn-gate[color=light] {
  background: var(--h-light);
}
.b-btn[color=light]::before,
.b-btn-push[color=light]::before,
.b-btn-gate[color=light]::before {
  background-color: var(--h-light-2);
}
.b-btn[color=light]:not([no-efx]):hover,
.b-btn-push[color=light]:not([no-efx]):hover,
.b-btn-gate[color=light]:not([no-efx]):hover {
  background: rgba(var(--h-light-x), 0.5);
}
.b-btn[color=light]:not([no-efx]):active,
.b-btn-push[color=light]:not([no-efx]):active,
.b-btn-gate[color=light]:not([no-efx]):active {
  background: rgba(var(--h-light-x), 0.2);
}
.b-btn[color=dark],
.b-btn-push[color=dark],
.b-btn-gate[color=dark] {
  background: var(--h-dark);
}
.b-btn[color=dark]::before,
.b-btn-push[color=dark]::before,
.b-btn-gate[color=dark]::before {
  background-color: #000;
}
.b-btn[color=dark]:not([no-efx]):hover,
.b-btn-push[color=dark]:not([no-efx]):hover,
.b-btn-gate[color=dark]:not([no-efx]):hover {
  background: rgba(var(--h-dark-x), 0.8);
}
.b-btn[color=dark]:not([no-efx]):active,
.b-btn-push[color=dark]:not([no-efx]):active,
.b-btn-gate[color=dark]:not([no-efx]):active {
  background: rgba(0, 0, 0, 0);
}
.b-btn[color=link],
.b-btn-push[color=link],
.b-btn-gate[color=link] {
  background: transparent;
  color: var(--h-primary);
  text-decoration: underline;
}
.b-btn[color=link]::before,
.b-btn-push[color=link]::before,
.b-btn-gate[color=link]::before {
  background: transparent;
}

.b-btn-gate[color=primary] {
  box-shadow: 0 0 0 2px var(--h-primary) inset;
}
.b-btn-gate[color=primary]:hover {
  color: var(--h-primary);
}
.b-btn-gate[color=primary]::before {
  background-color: var(--h-primary);
}
.b-btn-gate[color=secondary] {
  box-shadow: 0 0 0 2px var(--h-secondary) inset;
}
.b-btn-gate[color=secondary]:hover {
  color: var(--h-secondary);
}
.b-btn-gate[color=secondary]::before {
  background-color: var(--h-secondary);
}
.b-btn-gate[color=success] {
  box-shadow: 0 0 0 2px var(--h-success) inset;
}
.b-btn-gate[color=success]:hover {
  color: var(--h-success);
}
.b-btn-gate[color=success]::before {
  background-color: var(--h-success);
}
.b-btn-gate[color=warning] {
  box-shadow: 0 0 0 2px var(--h-warning) inset;
}
.b-btn-gate[color=warning]:hover {
  color: var(--h-warning);
}
.b-btn-gate[color=warning]::before {
  background-color: var(--h-warning);
}
.b-btn-gate[color=danger] {
  box-shadow: 0 0 0 2px var(--h-danger) inset;
}
.b-btn-gate[color=danger]:hover {
  color: var(--h-danger);
}
.b-btn-gate[color=danger]::before {
  background-color: var(--h-danger);
}
.b-btn-gate[color=info] {
  box-shadow: 0 0 0 2px var(--h-info) inset;
}
.b-btn-gate[color=info]:hover {
  color: var(--h-info);
}
.b-btn-gate[color=info]::before {
  background-color: var(--h-info);
}
.b-btn-gate[color=light] {
  box-shadow: 0 0 0 2px var(--h-light) inset;
}
.b-btn-gate[color=light]:hover {
  color: var(--h-light);
}
.b-btn-gate[color=light]::before {
  background-color: var(--h-light);
}
.b-btn-gate[color=dark] {
  box-shadow: 0 0 0 2px var(--h-dark) inset;
}
.b-btn-gate[color=dark]:hover {
  color: #000;
}
.b-btn-gate[color=dark]::before {
  background-color: #000;
}
.b-btn-gate[color=link] {
  box-shadow: none;
}
.b-btn-gate[color=link]::before {
  display: none;
}
.b-btn-gate[color=link]:hover {
  color: var(--h-link);
}

.b-btn {
  --bd: 0 0 0 2px inset;
}
.b-btn[bordered][color=default] {
  box-shadow: var(--bd) var(--h-secondary) !important;
}
.b-btn[bordered][color=alternate] {
  box-shadow: var(--bd) rgba(0, 0, 0, 0.3) !important;
}
.b-btn[bordered][color=primary], .b-btn[bordered][color=primary]::before {
  box-shadow: var(--bd) var(--h-primary-dark) !important;
}
.b-btn[bordered][color=secondary], .b-btn[bordered][color=secondary]::before {
  box-shadow: var(--bd) var(--h-secondary-dark) !important;
}
.b-btn[bordered][color=success], .b-btn[bordered][color=success]::before {
  box-shadow: var(--bd) var(--h-success-dark) !important;
}
.b-btn[bordered][color=warning], .b-btn[bordered][color=warning]::before {
  box-shadow: var(--bd) var(--h-warning-dark) !important;
}
.b-btn[bordered][color=danger], .b-btn[bordered][color=danger]::before {
  box-shadow: var(--bd) var(--h-danger-dark) !important;
}
.b-btn[bordered][color=info], .b-btn[bordered][color=info]::before {
  box-shadow: var(--bd) var(--h-info-dark) !important;
}
.b-btn[bordered][color=light], .b-btn[bordered][color=light]::before {
  box-shadow: var(--bd) var(--h-light-2) !important;
}
.b-btn[bordered][color=dark], .b-btn[bordered][color=dark]::before {
  box-shadow: var(--bd) var(--h-dark-2) !important;
}
.b-btn[bordered][color=link], .b-btn[bordered][color=link]::before {
  box-shadow: var(--bd) var(--h-primary-light) !important;
}

.b-btn-push[bordered][color=primary] {
  outline: 2px solid var(--h-primary-dark);
}
.b-btn-push[bordered][color=secondary] {
  outline: 2px solid var(--h-secondary-dark);
}
.b-btn-push[bordered][color=success] {
  outline: 2px solid var(--h-success-dark);
}
.b-btn-push[bordered][color=warning] {
  outline: 2px solid var(--h-warning-dark);
}
.b-btn-push[bordered][color=danger] {
  outline: 2px solid var(--h-danger-dark);
}
.b-btn-push[bordered][color=info] {
  outline: 2px solid var(--h-info-dark);
}
.b-btn-push[bordered][color=light] {
  outline: 2px solid var(--h-light-2);
}
.b-btn-push[bordered][color=dark] {
  outline: 2px solid var(--h-dark-2);
}

[class^=b-btn][outline][color=success]::before {
  box-shadow: 0 0 0 1px inset var(--h-success-dark);
  background: transparent;
}
[class^=b-btn][outline][color=success] {
  color: var(--h-success-dark);
}
[class^=b-btn][outline][color=warning]::before {
  box-shadow: 0 0 0 1px inset orange;
  background: transparent;
}
[class^=b-btn][outline][color=warning] {
  color: orange;
}

a[class^=b-btn] {
  display: inline-block;
  text-decoration: none;
}

[class^=b-btn] {
  text-align: center;
  padding: 0.9em 1.4em;
  min-width: 120px;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}
[class^=b-btn]:visited {
  color: white;
}
[class^=b-btn][color=primary], [class^=b-btn][color=secondary], [class^=b-btn][color=danger], [class^=b-btn][color=success], [class^=b-btn][color=dark] {
  color: white;
}

[color=dark] [class^=b-btn][color=default], [color=dark] [class^=b-btn][color=alternate] {
  color: white;
}

.b-btn:not([no-efx]),
.b-btn-push:not([no-efx]) {
  overflow: hidden;
}
.b-btn:not([no-efx])[color=primary]::before, .b-btn:not([no-efx])[color=secondary]::before, .b-btn:not([no-efx])[color=danger]::before, .b-btn:not([no-efx])[color=success]::before, .b-btn:not([no-efx])[color=warning]::before, .b-btn:not([no-efx])[color=light]::before, .b-btn:not([no-efx])[color=dark]::before, .b-btn:not([no-efx])[color=info]::before,
.b-btn-push:not([no-efx])[color=primary]::before,
.b-btn-push:not([no-efx])[color=secondary]::before,
.b-btn-push:not([no-efx])[color=danger]::before,
.b-btn-push:not([no-efx])[color=success]::before,
.b-btn-push:not([no-efx])[color=warning]::before,
.b-btn-push:not([no-efx])[color=light]::before,
.b-btn-push:not([no-efx])[color=dark]::before,
.b-btn-push:not([no-efx])[color=info]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: background 0.3s;
}

.b-box {
  margin-right: 0;
  margin-left: 0;
  border: 1px solid var(--color-border-default);
  border-radius: 6px;
  overflow: hidden;
}
.b-box .b-box-header {
  padding: 0.5em 1em;
  border-bottom: 1px solid var(--color-border-default);
}
.b-box .b-box-content {
  padding: 0.5em;
}
.b-box[color=white] {
  background: white;
}
.b-box[bg=dark] > * {
  color: white;
}

.h-card-container {
  width: min-content;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1em;
}
.h-card-container .h-card-header,
.h-card-container .h-card-content,
.h-card-container .h-card-footer {
  padding: 0.5em 0;
}
.h-card-container .h-card-header {
  overflow: hidden;
}
.h-card-container.squared {
  border-radius: 0;
}
.h-card-container.shadow {
  box-shadow: 0 2px 5px -4px black;
}
.h-card-container[bg=dark] {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.h-card-container[bg=dark] * {
  color: white;
}
.h-card-container[bg=dark] [class^=b-btn-] {
  color: initial;
}
.h-card-container > *[st=radius] {
  background-color: rgba(10, 10, 30, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.h-card-container[bg=dark] [st=radius], .h-card-container[bg=secondary] [st=radius] {
  background-color: rgba(10, 10, 30, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.h-card-container > *[st=radius]:last-child {
  margin-bottom: 0;
}

.fw-bold {
  font-weight: bold;
}
.fw-bold-i {
  font-weight: bold;
}

.tc {
  text-align: center;
}

.b-fs-sm {
  font-size: 10px;
}

[class^=tt],
[class^=st] {
  font-weight: bold;
  display: block;
}
[class^=tt].main,
[class^=st].main {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.st-xs {
  font-size: 12px;
}

.st-sm {
  font-size: 14px;
}

.st-md {
  font-size: 16px;
}

.st-lg {
  font-size: 18px;
}

.st-xl {
  font-size: 20px;
}

.st-xxl {
  font-size: 24px;
}

.tt-xs {
  font-size: 16px;
}

.tt-sm {
  font-size: 18px;
}

.tt-md {
  font-size: 20px;
}

.tt-lg {
  font-size: 24px;
}

.tt-xl {
  font-size: 26px;
}

.tt-xxl {
  font-size: 28px;
}

.danger {
  color: var(--h-danger) !important;
}

.white {
  color: white !important;
}

.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}

.ai-center {
  align-items: center;
}

.m-1 {
  margin: 0.5em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

.mb-2 {
  margin-bottom: 1em;
}

.me-1 {
  margin-right: 0.5em;
}

.ms-1 {
  margin-left: 0.5em;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.mt-1 {
  margin-top: 0.5em;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.5em;
}

.p-2 {
  padding: 1em;
}

.p-3 {
  padding: 1.5em;
}

.p-4 {
  padding: 2em;
}

[bg=primary] {
  background-color: var(--h-primary);
}

[bg=secondary] {
  background-color: var(--h-secondary);
}

[bg=success] {
  background-color: var(--h-success);
}

[bg=danger] {
  background-color: var(--h-danger);
}

[bg=warning] {
  background-color: var(--h-warning);
}

[bg=info] {
  background-color: var(--h-info);
}

[bg=dark] {
  background-color: var(--h-dark);
}

[bg=light] {
  background-color: var(--h-light);
}

[bg=dark-2] {
  background-color: var(--h-dark-2);
}

[bg=dark-3] {
  background-color: var(--h-dark-3);
}

[bg=danger-2] {
  background-color: var(--h-danger-2);
}

[bg=dark-red] {
  background-color: darkred;
}

[bg=pink] {
  background-color: pink;
  background-color: #d63384;
}

.b-header[gradient] {
  background-size: 280% auto;
}
.b-header[gradient][bg=primary] {
  background-image: linear-gradient(325deg, var(--h-primary) 0%, var(--h-primary-light) 55%, var(--h-primary) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-primary-light-x), 0.5), 0px 5px 5px -1px rgba(var(--h-primary-x), 0.25), inset 4px 4px 8px rgba(var(--h-primary-light-x), 0.25), inset -4px -4px 8px rgba(var(--h-primary-x), 0.35);
}
.b-header[gradient][bg=secondary] {
  background-image: linear-gradient(325deg, var(--h-secondary) 0%, var(--h-secondary-light) 55%, var(--h-secondary) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-secondary-light-x), 0.5), 0px 5px 5px -1px rgba(var(--h-secondary-x), 0.25), inset 4px 4px 8px rgba(var(--h-secondary-light-x), 0.25), inset -4px -4px 8px rgba(var(--h-secondary-x), 0.35);
}
.b-header[gradient][bg=success] {
  background-image: linear-gradient(325deg, var(--h-success) 0%, var(--h-success-light) 55%, var(--h-success) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-success-light-x), 0.5), 0px 5px 5px -1px rgba(var(--h-success-x), 0.25), inset 4px 4px 8px rgba(var(--h-success-light-x), 0.25), inset -4px -4px 8px rgba(var(--h-success-x), 0.35);
}
.b-header[gradient][bg=danger] {
  background-image: linear-gradient(325deg, var(--h-danger-dark) 0%, var(--h-danger-light) 55%, var(--h-danger-dark) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-danger-light-x), 0.5), 0px 5px 5px -1px rgba(var(--h-danger-dark-x), 0.25), inset 4px 4px 8px rgba(var(--h-danger-light-x), 0.25), inset -4px -4px 8px rgba(var(--h-danger-dark-x), 0.35);
}
.b-header[gradient][bg=warning] {
  background-image: linear-gradient(325deg, var(--h-warning-dark) 0%, var(--h-warning) 55%, var(--h-warning-dark) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-warning-x), 0.5), 0px 5px 5px -1px rgba(var(--h-warning-dark-x), 0.25), inset 4px 4px 8px rgba(var(--h-warning-x), 0.25), inset -4px -4px 8px rgba(var(--h-warning-dark-x), 0.35);
}
.b-header[gradient][bg=info] {
  background-image: linear-gradient(325deg, var(--h-info-light) 0%, var(--h-info) 55%, var(--h-info-light) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-info-x), 0.5), 0px 5px 5px -1px rgba(var(--h-info-dark-x), 0.25), inset 4px 4px 8px rgba(var(--h-info-dark-x), 0.15), inset -4px -4px 8px rgba(var(--h-info-dark-x), 0.35);
}
.b-header[gradient][bg=light] {
  background-image: linear-gradient(325deg, var(--h-light) 0%, var(--h-light-2) 55%, var(--h-light) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-light-x), 0.5), 0px 5px 5px -1px rgba(var(--h-light-2-x), 0.25), inset 4px 4px 8px rgba(var(--h-light-2-x), 0.15), inset -4px -4px 8px rgba(var(--h-light-2-x), 0.15);
}
.b-header[gradient][bg=dark] {
  background-image: linear-gradient(325deg, var(--h-dark) 0%, var(--h-dark-2) 55%, var(--h-dark) 90%);
  box-shadow: 0px 0px 20px rgba(var(--h-dark-x), 0.5), 0px 5px 5px -1px rgba(var(--h-dark-2-x), 0.25), inset 4px 4px 8px rgba(var(--h-dark-2-x), 0.25), inset -4px -4px 8px rgba(var(--h-dark-2-x), 0.35);
}

[tx=primary] {
  color: var(--h-primary) !important;
}

[tx=secondary] {
  color: var(--h-secondary) !important;
}

[tx=success] {
  color: var(--h-success) !important;
}

[tx=danger] {
  color: var(--h-danger) !important;
}

[tx=warning] {
  color: var(--h-warning) !important;
}

[tx=info] {
  color: var(--h-info) !important;
}

[tx=dark] {
  color: var(--h-dark) !important;
}

[tx=light] {
  color: var(--h-light) !important;
}

[class*=mv-] {
  display: flex;
}

.mv-end {
  justify-content: flex-end;
}

.mv-center {
  justify-content: center;
}

.shadow-up,
[shadow=up] {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.shadow-bottom,
[shadow=bottom] {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shadow-end,
[shadow=end] {
  box-shadow: 2 0 5px rgba(0, 0, 0, 0.1);
}

.shadow-start,
[shadow=start] {
  box-shadow: -2 0 5px rgba(0, 0, 0, 0.1);
}

.shadow-all,
[shadow=all] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

[rd=none] {
  border-radius: 0.2em !important;
}

[rd=md] {
  border-radius: 0.5em !important;
}

[rd=lg] {
  border-radius: 1em !important;
}

[rd=all] {
  border-radius: 100em !important;
}

[bc=primary] {
  border-color: rgba(var(--h-primary-x), 0.5) !important;
}

[bc=danger] {
  border-color: rgba(var(--h-danger-x), 0.5) !important;
}

[bc=warning] {
  border-color: rgba(var(--h-warning-x), 0.5) !important;
}

.b-none {
  border: none;
}

.h-input .icon[color=purple] {
  color: var(--h-purple) !important;
}
.h-input .icon[color=purple]:hover {
  background: white;
}
.h-input .icon[color=purple]:hover::before {
  background: rgba(var(--h-purple-x), 16%) !important;
}
.h-input .icon[color=warning] {
  color: var(--h-warning) !important;
}
.h-input .icon[color=warning]:hover {
  background: white;
}
.h-input .icon[color=warning]:hover::before {
  background: rgba(var(--h-warning-x), 16%) !important;
}
.h-input .icon[color=danger] {
  color: var(--h-danger) !important;
}
.h-input .icon[color=danger]:hover {
  background: white;
}
.h-input .icon[color=danger]:hover::before {
  background: rgba(var(--h-danger-x), 16%) !important;
}
.h-input .icon[color=primary] {
  color: var(--h-primary) !important;
}
.h-input .icon[color=primary]:hover {
  background: white;
}
.h-input .icon[color=primary]:hover::before {
  background: rgba(var(--h-primary-x), 16%) !important;
}
.h-input[color=dark] {
  background: rgba(10, 10, 30, 0.2);
}
.h-input[color=dark][solid] {
  background: #202124 !important;
}
.h-input[color=dark][solid]:hover {
  background: #292a2d !important;
}
.h-input[color=dark]:hover {
  background: rgba(50, 50, 70, 0.2);
}
.h-input[color=dark] [type=text],
.h-input[color=dark] [type=password] {
  color: white;
}
.h-input[color=dark] .icon {
  color: #9aa0a6;
  background: transparent !important;
}
.h-input[color=dark] .icon:hover {
  color: white !important;
}
.h-input[color=dark] .icon:hover::before {
  background: rgba(255, 255, 255, 0.1);
}
.h-input[color=dark] .icon[color=purple] {
  color: var(--h-purple);
}
.h-input[color=dark] .icon[color=purple]::before {
  background: rgba(var(--h-purple-x), 20%) !important;
}
.h-input[color=dark] .icon[color=purple]:hover::before {
  background: var(--h-purple) !important;
}
.h-input[color=dark] .icon[color=warning] {
  color: var(--h-warning);
}
.h-input[color=dark] .icon[color=warning]::before {
  background: rgba(var(--h-warning-x), 20%) !important;
}
.h-input[color=dark] .icon[color=warning]:hover::before {
  background: var(--h-warning) !important;
}
.h-input[color=dark] .icon[color=danger] {
  color: var(--h-danger);
}
.h-input[color=dark] .icon[color=danger]::before {
  background: rgba(var(--h-danger-x), 20%) !important;
}
.h-input[color=dark] .icon[color=danger]:hover::before {
  background: var(--h-danger) !important;
}
.h-input[color=light] {
  background: rgba(10, 10, 30, 0.05);
}
.h-input[color=light][solid] {
  background: #f1f3f4 !important;
}
.h-input[color=light][solid]:hover {
  background: #e9ebec !important;
}
.h-input[color=light][solid]:focus-within {
  background-color: white !important;
}
.h-input[color=light]:hover {
  background: rgba(10, 10, 30, 0.08);
}
.h-input[color=light]:focus-within {
  background: white;
}
.h-input[color=light] [type=text],
.h-input[color=light] [type=password] {
  color: black;
}
.h-input[color=light] .icon {
  color: #5f6368;
}
.h-input[color=light] .icon:hover::before {
  background: rgba(0, 0, 0, 0.1);
}
.h-input[color=default] .icon {
  color: #5f6368;
}
.h-input[color=default] .icon:hover {
  background: rgba(0, 0, 0, 0.1);
}

.h-input {
  display: inline-flex;
  padding: 4px;
  border-radius: 24px;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  transition: background 0.5s, box-shadow 0.1s, border 1s;
}
.h-input:focus-within {
  box-shadow: 0 0 0 2px rgba(var(--h-primary-x), 0.5);
}
.h-input:active {
  box-shadow: 0 0 0 0 rgba(var(--h-primary-x), 0.5);
  border-color: var(--h-primary);
}
.h-input .icon {
  cursor: default;
  color: #9aa0a6;
  position: relative;
  border-radius: 24px;
  min-width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0 6px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s, background 0.5s;
  background: transparent;
}
.h-input .icon::before {
  content: "";
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 24px;
  transition: background 0.5s;
}
.h-input .icon[separator] {
  overflow: visible;
  padding: 0 10px;
}
.h-input .icon[separator]::after {
  content: "";
  width: 1px;
  height: 80%;
  display: block;
  position: absolute;
  background: #9aa0a6;
  margin-left: 40px;
  right: 0;
  transition: background 0.5s;
}
.h-input .icon > *:first-child {
  margin-right: 5px;
}
.h-input .icon > *:only-child {
  margin-right: 0;
}
.h-input .icon:hover {
  background: rgba(255, 255, 255, 0.07);
}
.h-input .icon:hover::after {
  background: transparent;
}
.h-input .icon:hover::before {
  background: #fff;
}
.h-input input ~ .icon {
  padding: 0;
}
.h-input input[type=text],
.h-input input[type=password] {
  outline: none;
  border: none;
  background: transparent;
  font-size: 14px;
  color: rgb(130, 130, 130);
  background: transparent;
  line-height: 20px;
  margin: 0 0.7em;
  overflow: hidden;
}
.h-input input[type=text]::placeholder,
.h-input input[type=password]::placeholder {
  font-size: 10px;
  color: #9aa0a6;
}
.h-input input[type=text]:placeholder-shown,
.h-input input[type=password]:placeholder-shown {
  text-overflow: ellipsis;
}
.h-input[active=blur] {
  transition: all ease-out 0.5s;
}
.h-input[active=blur]:focus-within {
  background: white;
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.h-input[type=text] {
  outline: none;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 24px;
  padding: 7px 1em;
  transition: background 0.5s, box-shadow 0.1s, border 1s;
}
.h-input[type=text]:focus-within {
  box-shadow: 0 0 0 2px rgba(var(--h-primary-x), 0.5);
}
.h-input[type=text]:active {
  box-shadow: 0 0 0 0 rgba(var(--h-primary-x), 0.5);
  border-color: var(--h-primary);
}

.error {
  border-color: var(--h-danger);
}
.error:focus-within {
  box-shadow: 0 0 0 2px rgba(var(--h-danger-x), 0.5);
}
.error:active {
  box-shadow: 0 0 0 0 rgba(var(--h-danger-x), 0.5);
  border-color: var(--h-danger);
}

.h-input-area {
  display: inline-flex;
  flex-direction: column;
  max-width: -webkit-fill-available;
}
.h-input-area label {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: var(--h-primary);
  margin-bottom: 0.5em;
}

.b-header[skin=blur],
.h-box[skin=blur],
.h-card-container[skin=blur] {
  backdrop-filter: blur(4px);
}
.b-header[skin=blur], .b-header[skin=transparent],
.h-box[skin=blur],
.h-box[skin=transparent],
.h-card-container[skin=blur],
.h-card-container[skin=transparent] {
  background: transparent;
}
.b-header[skin=blur][bg=primary], .b-header[skin=transparent][bg=primary],
.h-box[skin=blur][bg=primary],
.h-box[skin=transparent][bg=primary],
.h-card-container[skin=blur][bg=primary],
.h-card-container[skin=transparent][bg=primary] {
  background: rgba(var(--h-primary-x), var(--h-skin-opacity));
}
.b-header[skin=blur][bg=secondary], .b-header[skin=transparent][bg=secondary],
.h-box[skin=blur][bg=secondary],
.h-box[skin=transparent][bg=secondary],
.h-card-container[skin=blur][bg=secondary],
.h-card-container[skin=transparent][bg=secondary] {
  background: rgba(var(--h-secondary-x), var(--h-skin-opacity));
}
.b-header[skin=blur][bg=danger], .b-header[skin=transparent][bg=danger],
.h-box[skin=blur][bg=danger],
.h-box[skin=transparent][bg=danger],
.h-card-container[skin=blur][bg=danger],
.h-card-container[skin=transparent][bg=danger] {
  background: rgba(var(--h-danger-x), var(--h-skin-opacity));
}
.b-header[skin=blur][bg=success], .b-header[skin=transparent][bg=success],
.h-box[skin=blur][bg=success],
.h-box[skin=transparent][bg=success],
.h-card-container[skin=blur][bg=success],
.h-card-container[skin=transparent][bg=success] {
  background: rgba(var(--h-success-x), var(--h-skin-opacity));
}
.b-header[skin=blur][bg=warning], .b-header[skin=transparent][bg=warning],
.h-box[skin=blur][bg=warning],
.h-box[skin=transparent][bg=warning],
.h-card-container[skin=blur][bg=warning],
.h-card-container[skin=transparent][bg=warning] {
  background: rgba(var(--h-warning-x), var(--h-skin-opacity));
}
.b-header[skin=blur][bg=info], .b-header[skin=transparent][bg=info],
.h-box[skin=blur][bg=info],
.h-box[skin=transparent][bg=info],
.h-card-container[skin=blur][bg=info],
.h-card-container[skin=transparent][bg=info] {
  background: rgba(var(--h-info-x), var(--h-skin-opacity));
}
.b-header[skin=blur][bg=dark], .b-header[skin=transparent][bg=dark],
.h-box[skin=blur][bg=dark],
.h-box[skin=transparent][bg=dark],
.h-card-container[skin=blur][bg=dark],
.h-card-container[skin=transparent][bg=dark] {
  background: rgba(var(--h-dark-x), var(--h-skin-opacity));
}
.b-header[skin=blur][bg=light], .b-header[skin=transparent][bg=light],
.h-box[skin=blur][bg=light],
.h-box[skin=transparent][bg=light],
.h-card-container[skin=blur][bg=light],
.h-card-container[skin=transparent][bg=light] {
  background: rgba(var(--h-light-x), var(--h-skin-opacity));
}

.h-modal-wrapper {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
  opacity: 0;
  padding: 5px;
  /* The Close Button */
}
.h-modal-wrapper[opacity="1"] {
  background-color: rgba(0, 0, 0, 0.3);
}
.h-modal-wrapper[skin=blur] {
  transition: opacity 0.3s, background-color 1s, backdrop-filter 2s 1s;
}
.h-modal-wrapper[skin=fade] {
  transition: opacity 0.3s, background-color 0.3s;
}
.h-modal-wrapper.opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.h-modal-wrapper.opened[skin=blur] {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
.h-modal-wrapper.opened[in-out] .h-modal-content {
  animation: popup 0.3s forwards;
}
.h-modal-wrapper.closed {
  background-color: transparent;
  opacity: 0;
}
.h-modal-wrapper.closed[in-out] {
  background-color: transparent;
}
.h-modal-wrapper.closed[in-out] .h-modal-content {
  animation: popupclose 0.3s forwards !important;
}
.h-modal-wrapper .h-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.h-modal-wrapper .h-modal-close:hover, .h-modal-wrapper .h-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.h-modal-wrapper .h-modal-content {
  z-index: 60;
  top: 10px;
  left: 0;
  right: 0;
  max-width: 90vw;
  width: 480px;
  padding: 0.5em;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}
.h-modal-wrapper .h-modal-content .h-modal-head {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.h-modal-wrapper .h-modal-content .h-modal-head .h-modal-title {
  flex-basis: 100%;
}
.h-modal-wrapper .h-modal-content[skin=transparent] {
  padding: 5px;
  background: rgba(255, 255, 255, 0.3);
}
.h-modal-wrapper .h-modal-content .h-modal-body {
  overflow: auto;
  border-radius: 4px;
}
.h-modal-wrapper[position="1"] {
  justify-content: flex-start;
  align-items: flex-start;
}
.h-modal-wrapper[position="2"] {
  justify-content: center;
  align-items: flex-start;
}
.h-modal-wrapper[position="3"] {
  justify-content: flex-end;
  align-items: flex-start;
}
.h-modal-wrapper[position="4"] {
  justify-content: flex-start;
  align-items: center;
}
.h-modal-wrapper[position="5"] {
  justify-content: center;
  align-items: center;
}
.h-modal-wrapper[position="6"] {
  justify-content: flex-end;
  align-items: center;
}
.h-modal-wrapper[position="7"] {
  justify-content: flex-start;
  align-items: flex-end;
}
.h-modal-wrapper[position="8"] {
  justify-content: center;
  align-items: flex-end;
}
.h-modal-wrapper[position="9"] {
  justify-content: flex-end;
  align-items: flex-end;
}

@keyframes popup {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes popupclose {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
.popup {
  background-color: rgba(0, 0, 0, 0.6509803922);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  /* 	display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup-content {
  display: none;
  max-width: 800px;
  width: 100%;
  background: #fff;
  min-height: 400px;
  overflow: auto;
  position: relative;
  padding: 35px;
  margin: 0 15px;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.popup-content .close {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.showPopup {
  display: flex;
}

.showPopup .popup-content {
  display: block;
  animation: popup 0.3s forwards;
}

.removePopup .popup-content {
  animation: popupclose 0.3s forwards !important;
}

/* button */
.open-btn {
  background-color: red;
  color: #fff;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 24px;
  cursor: pointer;
}

.h-error {
  margin-top: 5px;
  font-size: 10px;
  color: var(--h-danger);
}

.b-table {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
}
.b-table table {
  border-collapse: collapse;
  width: 100%;
}
.b-table table td,
.b-table table th {
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 20px;
  padding: 0.5em 2em;
}

pre {
  padding: 5px;
}

[code] {
  font-family: monospace !important;
  display: inline-block;
  background: var(--h-dark-3);
  padding: 5px;
  color: rgb(216, 216, 216);
  font-size: 12px;
}
[code] * {
  font-family: monospace !important;
}

.fit-content {
  width: fit-content;
}

ul {
  padding-left: 20px;
}

.me-1-all > * {
  margin-right: 0.5em;
  margin-top: 0.5em;
}
.me-1-all > *:last-child {
  margin-right: 0;
}

.ib {
  display: inline-block;
}

.h-nav-header {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.h-nav-header.active,
.h-nav-header .h-nav-header:hover {
  background-color: #ccc;
}

.h-nav-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: white;
  transition: max-height 1s;
}
.h-nav-content.opened {
  max-height: 100%;
}

.h-icon {
  cursor: default;
  color: #9aa0a6;
  position: relative;
  border-radius: 24px;
  min-width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.h-icon:first-child {
  padding: 0 10px;
}
.h-icon:first-child::after {
  content: "";
  width: 1px;
  height: 80%;
  display: block;
  position: absolute;
  background-color: #9aa0a6;
  margin-left: 40px;
  right: 0;
  transition: background 0.5s;
}
.h-icon:hover {
  background-color: #363739;
}
.h-icon:hover::after {
  background: transparent;
}

.boxy-version::before {
  content: "Boxy: 0.1.1.1918";
}

/*# sourceMappingURL=boxy.css.map */
