<div>
  <div style="display: flex; color:rgb(154 157 161)">
    <img src="/img/profile.png" class="profile" />

    <div class="w100 p-4 pb-0" bg="dark-gray">
      <span tx="white" class="tt-xl mb-1">Rafael Hetziel Malave Rivas</span>
      <span class="st-lg mb-1">Desarrollador web Front-end</span>
      <span class="space"><i class="fa-solid fa-envelope"></i>
        hetz1998@gmail.com
      </span>
      <br />
      <span class="space"><i class="fa-solid fa-location-dot"></i> Calle Manuel
        Carlos Piar, Casa
        s/n, 8052 Upata, Estado Bolívar - Venezuela</span>
      <br />
      <span class="space"><i class="fa-solid fa-phone"></i> +58 412 3727143</span>
    </div>
  </div>

  <div class="cont">
    <div class="div-8 p-4 imb-1" style="border-right: 1px solid #d0d7de">
      <span class="tt-md">Perfil</span>
      <p>
        Soy un desarrollador de aplicaciones con 3 años de experiencia en
        programación web, incluyendo el desarrollo de aplicaciones y la
        construcción de sitios web, ofreciendo mi total compromiso.
        Me especializo en maquetación y diseño desde cero en la parte Front-end
        de diversos proyectos. Soy un profesional en la creación de herramientas
        de diseño de fácil uso para otros desarrolladores.
      </p>

      <hr />

      <span class="tt-md">Experiencia laboral</span>

      <div class="cont">
        <div class="div-6">
          <div class="b-data">
            <span title>Desarrollador web</span>
            <span value>AppsCode, Venezuela</span>
          </div>
        </div>
        <div class="div-6">
          <span>Agosto 2021 - 2023</span>
        </div>
        <div class="div-12">
          <ul style="padding-left: revert">
            <li>
              Desarrollé nuevas implementaciones de módulos de un <b>sistema de administración de envíos nacionales</b> desarrollado en Laravel 8 utilizando componentes de Livewire
              Estas nuevas adaptaciones se centraron en nuevas funcionalidades y atractivo visual para experiencia de usuarios, utilizando JavaScript, Bootstrap y manejo de API REST.
            </li>
          </ul>
        </div>
      </div>

      <div class="cont">
        <div class="div-6">
          <div class="b-data">
            <span title>Desarrollador front-end</span>
            <span value>Onexfy, Colombia</span>
          </div>
        </div>
        <div class="div-6">
          <span>Enero 2020 - Noviembre 2020</span>
        </div>
        <div class="div-12">
          <ul style="padding-left: revert">
            <li>
              Mi responsabilidad principal involucró realizar ajustes en las
              vistas de un <b>sistema
                administrativo y logístico</b> desarrollado en Laravel 6 y Vue.js
              (version 2), Estos ajustes se
              centraron en lograr una mayor consistencia y atractivo visual para
              los usuarios.
              Implementando cambios en los Resources y Collections de Laravel,
              para que asi modificar
              ciertos aspectos de la carga de información.

            </li>
          </ul>
        </div>
      </div>

      <div class="cont">
        <div class="div-6">
          <div class="b-data">
            <span title>Desarrollador web Front-end</span>
            <span value>ADA, Venezuela</span>
          </div>
        </div>
        <div class="div-6">
          <span>2019 - 2020</span>
        </div>
        <div class="div-12">
          <ul style="padding-left: revert">
            <li>
              Colaboración en sitio web diseñando maquetación y uso de vistas
              dinámicas aplicando los usos de VueJs, Vuetify, SASS, Bootstrap
            </li>
          </ul>
        </div>
      </div>

      <hr />

      <span class="tt-md">Educación</span>

      <div class="b-data">
        <span title>Diseño web</span>
        <span value>09/2021 - presente , Apps Code, Venezuela</span>
      </div>

      <div class="b-data">
        <span title>Escuela secundaria</span>
        <span value>09/2014 - 06/2018, Liceo Nacional Tavera Acosta, Venezuela</span>
      </div>

      <div class="b-data">
        <span title>Educación adulto</span>
        <span value>10/2023 - Presente, U.E.N Adulto Tavera Acosta, Venezuela</span>
      </div>

      <hr />

      <span class="tt-md">Cursos</span>

      <div class="cont">
        <div class="div-6">
          <div class="b-data">
            <span title>HTML, CSS</span>
          </div>
        </div>
        <div class="div-6">
          <span>Septiembre 2017</span>
        </div>
      </div>

      <div class="cont">
        <div class="div-6">
          <div class="b-data">
            <span title>Fundamentos de programacion</span>
          </div>
        </div>
        <div class="div-6">
          <span>Septiembre 2017</span>
        </div>
      </div>

      <div class="cont">
        <div class="div-6">
          <div class="b-data">
            <span title>Pensamiento Lógico</span>
          </div>
        </div>
        <div class="div-6">
          <span>Octubre 2021</span>
        </div>
      </div>

      <div class="cont">
        <div class="div-6">
          <div class="b-data">
            <span title>JavaScript</span>
          </div>
        </div>
        <div class="div-6">
          <span>Octubre 2021</span>
        </div>
      </div>

      <hr />

      <span class="tt-md">Logros</span>

      <div class="b-data">
        <span title>Boxy</span>
        <span value>25 de Junio del 2022 - presente</span>
      </div>

      <p>
        Es una biblioteca multiplataforma propia que contiene un conjunto de
        herramientas y un marco de componentes para diseñar sitios web y
        aplicaciones web. Su objetivo es proporcionar todas las herramientas
        necesarias para crear hermosas aplicaciones web, actualmente en desarrollo.
      </p>
    </div>

    <div class="div-4 p-4">
      <span class="tt-md mb-1">Datos personales</span>

      <div class="b-data mb-1">
        <span title>Fecha de nacimiento</span>
        <span value>6 de agosto de 1998</span>
      </div>

      <div class="b-data mb-1">
        <span title>Género</span>
        <span value>Hombre</span>
      </div>

      <div class="b-data mb-1">
        <span title>Nacionalidad</span>
        <span value>Venezolano</span>
      </div>

      <div class="b-data mb-1">
        <span title>LinkedIn</span>
        <a value style="text-decoration:none"
          href="https://linkedin.com/in/hetziel">linkedin.com/in/hetziel</a>
      </div>

      <hr />

      <span class="tt-md mb-1">Idiomas</span>

      <div class="b-loader">
        <span title>Español</span>
        <span value="10"></span>
      </div>

      <div class="b-loader mb-1">
        <span title>Inglés</span>
        <span value="3"></span>
      </div>

      <hr />

      <span class="tt-md mb-1">Aptitudes</span>

      <span class="b-list">CSS</span>
      <span class="b-list ps-1">SASS (3 años)</span>
      <span class="b-list ps-1">Bootstrap (3 años)</span>
      <span class="b-list ps-1 mb-1">Tailwind (1 año)</span>
      <span class="b-list">Javascript (3 años)</span>
      <span class="b-list ps-1">VueJs (1 año)</span>
      <span class="b-list ps-1 mb-1">Quasar (1 año)</span>

      <span class="b-list mb-1">MySQL (3 años)</span>
      <span class="b-list mb-1">API REST (3 años)</span>
      <span class="b-list">PHP (3 años)</span>
      <span class="b-list ps-1">Laravel (3 años)</span>
      <span class="b-list ps-1 mb-1">Livewire (3 años)</span>

      <span class="b-list mb-1">GIT (3 años)</span>
      <span class="b-list mb-1">JIRA (2 años)</span>

    </div>
  </div>

  <script>
    boxyVersion(false);

    let tx = document.querySelectorAll("[tx]");

    tx.forEach(function (i) {
      let attr = i.attributes["tx"].value;

      if (attr.includes("#")) {
        i.style.color = attr;
      } else if (attr.includes("rgb")) {
        i.style.color = attr;
      }
    });
  </script>
</div>
