<header class="b-header" bg="dark-bgray" bx-container="md" dropdown="md">
  <div bx-container>
    <div bx-logo>
      <span tx="turq">BOXY</span>
    </div>
    <div bx-content bg="dark-bgray">
      <div class="b-nav" skin="btn" dark bg-hover="turq">
        <a href="#inicio">INICIO</a>
        <a href="#sobremi">SOBRE MI</a>
        <a href="#skills">SKILLS</a>
        <a href="#curriculum">CURRICULUM</a>
        <a href="#portfolio">PORTFOLIO</a>
        <a href="#contacto">CONTACTO</a>
      </div>
    </div>
    <div bx-mobile open-nav>
      <button class="b-btn" color="turq" icon>
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>
</header>