<div id="inicio" class=" h-100 bu-bg flex w100 jc-center ai-center bu-bg ">
  <section class="b-box w-6 rd-xl" bg="dark-bgray" bd="none" shadow>
    <div bx-content class="tc" tx="white">
      <div class="contenedor-img">
        <img src="/img/boxy.ico" class="bd--turq bd-6 rd-all">
      </div>
      <h1>HETZIEL MALAVE</h1>
      <h2>Ingeniero de Software - Experto UI/UX</h2>
      <div class="redes flex jc-center mi-1">
        <a href="#" class="b-btn rd-all ts-lg" outline color="turq" icon size="sm">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#" class="b-btn rd-all ts-lg" outline color="turq" icon size="sm">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="#" class="b-btn rd-all ts-lg" outline color="turq" icon size="sm">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </section>
</div>