<div b-view="header"></div>
<div class="b-body">
  <div class="b-side" mobile="md" bg="white" bg-img="img/sidebar.jpg">
    <div mobile-side hide><i class="fa-solid fa-arrows-left-right"></i></div>
    <div b-view="desktop"></div>
  </div>
  <div class="b-main" bg-img="img/md.jpg">
    <div class="b-box m1">
      <div bx-head>Box</div>

      <div bx-content>
        <p>
          Las Box son utilizadas para contenedor de secciones e información.
          <br />
          Para crear un Box se utiliza la clase <code code short>b-box</code>
        </p>

        <div class="b-box mb2">
          <div bx-head>Titulo</div>
          <div bx-content>Contenido</div>
        </div>

        <div b-code="box"></div>
      </div>
    </div>
  </div>
</div>
