<div>
  <div b-view="header"></div>

  <div class="b-body">
    <div class="b-side" mobile="md" bg="white" bg-img="/img/sidebar.jpg">
      <div mobile-side hide><i class="fa-solid fa-arrows-left-right"></i></div>
      <div b-view="desktop"></div>
    </div>
    <div class="b-main">
      <div class="div-12 div-xl-4">
        <div class="b-box m-1">
          <div bx-head><span class="tt-md">{{ title }}</span></div>

          <div bx-content>
            <p>
              Boxy actualmente contiene 5 tipos de botones con multiples
              propiedades para personalizarlos a tu gusto:
            </p>
          </div>
        </div>
      </div>

      <div class="div-12 div-xl-8">
        <div class="b-box m-1" skin="blur" bg="light">
          <div class="b-box-header">
            <span class="tt-md">¿Como usar?</span>
          </div>
          <div class="b-box-content">
            <div class="b-table mb-2">
              <table>
                <tr bg="primary" tx="light">
                  <th>Clases</th>
                  <th>Atributos</th>
                </tr>
                <tr>
                  <td>
                    <p>
                      Simplemente añadiento una de las siguientes clases puedes
                      darle el diseño a tu botón
                    </p>

                    <ul>
                      <li>b-btn (Por defecto)</li>
                      <li>b-btn-push (Presión)</li>
                      <li>b-btn-gate (Compuerta)</li>
                      <li>b-btn-gradient (Gradiente)</li>
                      <li>b-btn-neon (Neón)</li>
                    </ul>
                  </td>
                  <td>
                    <p>
                      Al establecer algunas de las clases se puede utilizar los
                      siguientes atributos
                    </p>

                    <ul>
                      <li>color (Disponible en todos)</li>
                      <li>bordered (Solo en b-btn, b-btn-push)</li>
                      <li>no-efx (Solo en b-btn, b-btn-push, b-btn-gate)</li>
                      <li>no-focus (Solo en b-btn)</li>
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="div-12 div-xl-4 p1">
        <div class="b-box m-1">
          <div bx-head><span class="tt-md">Botones</span></div>

          <div bx-content>
            <p>Presiona uno de los botones para ver sus propiedades</p>

            <div class="tc">
              <button class="b-btn m-1" b-ingo="b_default" color="blue" ripple>
                b-btn
              </button>
              <button class="b-btn-push m-1" b-ingo="b_push" color="blue" ripple>
                b-btn-push
              </button>
              <button class="b-btn-gate m-1" color="blue" ripple>
                b-btn-gate
              </button>
              <button class="b-btn-gradient m-1" color="blue" ripple>
                b-btn-gradient
              </button>
              <button class="b-btn-neon m-1" color="blue" ripple>
                b-btn-neon
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="div-12"><div class="m-1" b-show></div></div>

      <div class="div-12">
        <div class="b-box m-1" skin="blur" bg="light">
          <div class="b-box-content">
           

            <h1>Atributos</h1>

            

           

           

            <div style="display: none;">
              <div class="b-table mb-2">
                <table>
                  <tr bg="primary" tx="light">
                    <th>Clase</th>
                    <th>Propiedades propias</th>
                  </tr>
                  <tr>
                    <td>
                      <button class="b-btn-push" color="primary">
                        b-btn-push
                      </button>
                    </td>
                    <td>
                      <ul>
                        <li>
                          <a href="#color">color</a>
                        </li>
                        <li>bordered (Agrega bordes y quita enfoque)</li>
                        <li>no-efx (Quita los efectos hover)</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <span id="color" class="tt-sm">Propiedad color</span>

                      <div class="mb1">
                        <code code
                          >&lt;button class="<span tx="warning">b-btn-push</span
                          >" color="<span tx="info">blue</span>"&gt;<span
                            tx="light"
                            >Botón</span
                          >&lt;/button&gt;</code
                        >
                      </div>

                      <div class="tc p-1">
                        <div class="div-12 tc">
                          <div class="b-box p-1 fit-content ib" bg="dark">
                            <span class="b-fs-sm" tx="white"
                              >Para fondos oscuros</span
                            >
                            <br />
                            <button class="b-btn-push" color="default">
                              default
                            </button>
                          </div>

                          <div class="b-box p-1 fit-content ib">
                            <span class="b-fs-sm">Para fondos claros</span>
                            <br />
                            <button class="b-btn-push" color="alternate">
                              alternate
                            </button>
                          </div>
                        </div>

                        <button class="b-btn-push m-1" color="link">link</button>
                        <button class="b-btn-push m-1" color="green">
                          green
                        </button>
                        <button class="b-btn-push m-1" color="chartreuse">
                          chartreuse
                        </button>
                        <button class="b-btn-push m-1" color="yellow">
                          yellow
                        </button>
                        <button class="b-btn-push m-1" color="orange">
                          orange
                        </button>
                        <button class="b-btn-push m-1" color="red">red</button>
                        <button class="b-btn-push m-1" color="light-blue">
                          light-blue
                        </button>
                        <button class="b-btn-push m-1" color="aqua">aqua</button>
                        <button class="b-btn-push m-1" color="turq">turq</button>
                        <button class="b-btn-push m-1" color="blue">blue</button>
                        <button class="b-btn-push m-1" color="indigo">
                          indigo
                        </button>
                        <button class="b-btn-push m-1" color="purple">
                          purple
                        </button>
                        <button class="b-btn-push m-1" color="dark-pink">
                          dark-pink
                        </button>
                        <button class="b-btn-push m-1" color="pink">pink</button>
                        <button class="b-btn-push m-1" color="white">
                          white
                        </button>
                        <button class="b-btn-push m-1" color="gray">gray</button>
                        <button class="b-btn-push m-1" color="dark-gray">
                          dark-gray
                        </button>
                        <button class="b-btn-push m1" color="black">
                          black
                        </button>
                      </div>

                      <span id="border" class="tt-sm mt2"
                        >Propiedad bordered</span
                      >
                      <span class="mb1"
                        >Esta propiedad quita el efecto de enfoque.</span
                      >

                      <div class="mb1">
                        <code code
                          >&lt;button class="<span tx="warning">b-btn-push</span
                          >" color="<span tx="info">blue</span>"
                          <span tx="info">bordered</span>&gt;<span tx="light"
                            >Botón</span
                          >&lt;/button&gt;</code
                        >
                      </div>

                      <div class="tc p-1">
                        <button class="b-btn-push m1" bordered color="blue">
                          Botón
                        </button>
                        <button class="b-btn-push m1" bordered color="yellow">
                          yellow
                        </button>
                        <button class="b-btn-push m1" bordered color="orange">
                          orange
                        </button>
                        <button class="b-btn-push m1" bordered color="red">
                          red
                        </button>
                        <button class="b-btn-push m1" bordered color="green">
                          green
                        </button>
                      </div>

                      <span id="efx" class="tt-sm mt2">Propiedad no-efx</span>
                      <span class="mb1"
                        >Esta propiedad quita el efecto de sombreado al pasar
                        sobre el boton.</span
                      >

                      <div class="mb1">
                        <code code
                          >&lt;button class="<span tx="warning">b-btn-push</span
                          >" color="<span tx="info">blue</span>"
                          <span tx="info">no-efx</span>&gt;<span tx="light"
                            >Botón</span
                          >&lt;/button&gt;</code
                        >
                      </div>

                      <div class="tc p-1">
                        <button class="b-btn-push m1" no-efx color="blue">
                          Botón
                        </button>
                        <button class="b-btn-push m1" no-efx color="yellow">
                          yellow
                        </button>
                        <button class="b-btn-push m1" no-efx color="orange">
                          orange
                        </button>
                        <button class="b-btn-push m1" no-efx color="red">
                          red
                        </button>
                        <button class="b-btn-push m1" no-efx color="green">
                          green
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button class="b-btn-gate" color="primary">
                        b-btn-gate
                      </button>
                    </td>
                    <td>
                      <ul>
                        <li>
                          <a href="#color">color</a>
                        </li>
                        <li>
                          <a href="#gate-efx">no-efx</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <span id="color" class="tt-sm">Propiedad color</span>

                      <div class="mb1">
                        <code code
                          >&lt;button class="<span tx="warning">b-btn-gate</span
                          >" color="<span tx="info">blue</span>"&gt;<span
                            tx="light"
                            >Botón</span
                          >&lt;/button&gt;</code
                        >
                      </div>

                      <div class="tc p-1">
                        <button class="b-btn-gate m1" color="green">
                          green
                        </button>
                        <button class="b-btn-gate m1" color="chartreuse">
                          chartreuse
                        </button>
                        <button class="b-btn-gate m1" color="yellow">
                          yellow
                        </button>
                        <button class="b-btn-gate m1" color="orange">
                          orange
                        </button>
                        <button class="b-btn-gate m1" color="red">red</button>
                        <button class="b-btn-gate m1" color="light-blue">
                          light-blue
                        </button>
                        <button class="b-btn-gate m1" color="aqua">aqua</button>
                        <button class="b-btn-gate m1" color="turq">turq</button>
                        <button class="b-btn-gate m1" color="blue">blue</button>
                        <button class="b-btn-gate m1" color="indigo">
                          indigo
                        </button>
                        <button class="b-btn-gate m1" color="purple">
                          purple
                        </button>
                        <button class="b-btn-gate m1" color="dark-pink">
                          dark-pink
                        </button>
                        <button class="b-btn-gate m1" color="pink">pink</button>
                        <button class="b-btn-gate m1" color="white">
                          white
                        </button>
                        <button class="b-btn-gate m1" color="gray">gray</button>
                        <button class="b-btn-gate m1" color="dark-gray">
                          dark-gray
                        </button>
                        <button class="b-btn-gate m1" color="black">
                          black
                        </button>
                      </div>

                      <span id="gate-efx" class="tt-sm mt2"
                        >Propiedad no-efx</span
                      >
                      <span class="mb1"
                        >Esta propiedad quita el efecto de cambiar el color del
                        fondo al pasar sobre el botón.</span
                      >

                      <div class="mb1">
                        <code code
                          >&lt;button class="<span tx="warning">b-btn-gate</span
                          >" color="<span tx="info">blue</span>"
                          <span tx="info">no-efx</span>&gt;<span tx="light"
                            >Botón</span
                          >&lt;/button&gt;</code
                        >
                      </div>

                      <div class="tc p-1">
                        <button class="b-btn-gate m1" no-efx color="blue">
                          Botón
                        </button>
                        <button class="b-btn-gate m1" no-efx color="yellow">
                          yellow
                        </button>
                        <button class="b-btn-gate m1" no-efx color="orange">
                          orange
                        </button>
                        <button class="b-btn-gate m1" no-efx color="red">
                          red
                        </button>
                        <button class="b-btn-gate m1" no-efx color="green">
                          green
                        </button>
                      </div>

                      <span id="gate-efx" class="tt-sm mt2"
                        >Propiedad closed</span
                      >
                      <span class="mb1"
                        >Esta propiedad invierte el efecto de compuerta al pasar
                        sobre el botón.</span
                      >

                      <div class="mb1">
                        <code code
                          >&lt;button class="<span tx="warning">b-btn-gate</span
                          >" color="<span tx="info">blue</span>"
                          <span tx="info">closed</span>&gt;<span tx="light"
                            >Botón</span
                          >&lt;/button&gt;</code
                        >
                      </div>

                      <div class="tc p-1">
                        <button class="b-btn-gate m1" closed color="blue">
                          Botón
                        </button>
                        <button class="b-btn-gate m1" closed color="yellow">
                          yellow
                        </button>
                        <button class="b-btn-gate m1" closed color="orange">
                          orange
                        </button>
                        <button class="b-btn-gate m1" closed color="red">
                          red
                        </button>
                        <button class="b-btn-gate m1" closed color="green">
                          green
                        </button>
                      </div>

                      <span id="gate-efx" class="tt-sm mt2">Propiedad dir</span>
                      <span class="mb1"
                        >Esta propiedad se utiliza para configurar la dirección
                        del efecto compuerta</span
                      >
                      <p tx="red">
                        Todavía no está implementado en la propiedad closed
                      </p>

                      <div class="mb1">
                        <code code
                          >&lt;button class="<span tx="warning">b-btn-gate</span
                          >" color="<span tx="info">blue</span>" dir="<span
                            tx="info"
                            >1</span
                          >"&gt;<span tx="light">Botón</span
                          >&lt;/button&gt;</code
                        >
                      </div>

                      <div class="tc p-1">
                        <div>
                          <button class="b-btn-gate m1" dir="1" color="black">
                            1
                          </button>
                          <button class="b-btn-gate m1" dir="2" color="black">
                            2
                          </button>
                          <button class="b-btn-gate m1" dir="3" color="black">
                            3
                          </button>
                        </div>

                        <div>
                          <button class="b-btn-gate m1" dir="4" color="black">
                            4
                          </button>
                          <button class="b-btn m1" dir="5" color="red">
                            5
                          </button>
                          <button class="b-btn-gate m1" dir="6" color="black">
                            6
                          </button>
                        </div>

                        <div>
                          <button class="b-btn-gate m1" dir="7" color="black">
                            7
                          </button>
                          <button class="b-btn-gate m1" dir="8" color="black">
                            8
                          </button>
                          <button class="b-btn-gate m1" dir="9" color="black">
                            9
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button class="b-btn-gradient" color="primary">
                        b-btn-gradient
                      </button>
                    </td>
                    <td>
                      <ul>
                        <li>
                          color
                          <small tx="danger">(No tiene color en link)</small>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr bg="dark-gray" tx="white">
                    <td>
                      <button class="b-btn-neon" color="red">b-btn-neon</button>
                    </td>
                    <td>
                      <ul>
                        <li>Se utiliza para fondos oscuros</li>
                        <li>
                          color
                          <small tx="danger">(No tiene color en link)</small>
                        </li>
                        <li>
                          gradient
                          <small tx="light-blue"
                            >(efecto de gradiente en el fondo)</small
                          >
                        </li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </div>
              <span id="color" class="tt-sm">Propiedades Propias</span>

              <div class="b-box mb-2">
                <div class="b-box-header">
                  <span class="st-md">b-btn-gradient</span>
                </div>
                <div class="b-box-content me-1-all cont jc-center">
                  <button class="b-btn-gradient" color="primary">
                    primary
                  </button>
                  <button class="b-btn-gradient" color="secondary">
                    secondary
                  </button>
                  <button class="b-btn-gradient" color="success">
                    success
                  </button>
                  <button class="b-btn-gradient" color="warning">
                    warning
                  </button>
                  <button class="b-btn-gradient" color="danger">danger</button>
                  <button class="b-btn-gradient" color="info">info</button>
                  <button class="b-btn-gradient" color="light">light</button>
                  <button class="b-btn-gradient" color="dark">dark</button>
                </div>
              </div>
              <div class="b-box mb-2" bg="black" tx="white">
                <div class="b-box-header">
                  <span class="st-md">b-btn-neon</span>
                </div>
                <div class="b-box-content me-1-all cont jc-center">
                  <button class="b-btn-neon" gradient color="green">
                    green
                  </button>
                  <button class="b-btn-neon" gradient color="chartreuse">
                    chartreuse
                  </button>
                  <button class="b-btn-neon" gradient color="yellow">
                    yellow
                  </button>
                  <button class="b-btn-neon" gradient color="orange">
                    orange
                  </button>
                  <button class="b-btn-neon" gradient color="red">red</button>
                  <button class="b-btn-neon" gradient color="red">red</button>
                  <button class="b-btn-neon" gradient color="light-blue">
                    light-blue
                  </button>
                  <button class="b-btn-neon" gradient color="aqua">aqua</button>
                  <button class="b-btn-neon" gradient color="turq">turq</button>
                  <button class="b-btn-neon" gradient color="blue">blue</button>
                  <button class="b-btn-neon" gradient color="indigo">
                    indigo
                  </button>
                  <button class="b-btn-neon" gradient color="purple">
                    purple
                  </button>
                  <button class="b-btn-neon" gradient color="dark-pink">
                    dark-pink
                  </button>
                  <button class="b-btn-neon" gradient color="pink">pink</button>
                  <button class="b-btn-neon" gradient color="gray">gray</button>
                  <button class="b-btn-neon" gradient color="white">
                    white
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
