<div>
  <div b-view="header"></div>
 <div class="m1 w100">
  <button b-go="home" class="b-btn" color="blue">Home</button>
 </div>

  <div class="b-box m1">

    <div bx-head>
      Sistema Grid
    </div>

    <div bx-content>
      <p>
        Ejemplos:
      </p>

      <div class="tc mb5 cont-4 cont-sm-8 cont-md-2 cont-lg-6 cont-xl-9" docs-grid>
        <div bg="red" class="div">1</div>
        <div bg="blue" class="div">2</div>
        <div bg="yellow" class="div">3</div>
        <div bg="yellow" class="div">4</div>
        <div bg="yellow" class="div">5</div>
        <div bg="yellow" class="div">6</div>
        <div bg="yellow" class="div">7</div>
        <div bg="yellow" class="div">8</div>
        <div bg="yellow" class="div">9</div>
        <div bg="yellow" class="div">10</div>
        <div bg="yellow" class="div">11</div>
        <div bg="yellow" class="div">12</div>
      </div>

      <div b-code="grid"></div>
  
    </div>

   
  </div>
</div>
