<header class="b-header" mobile bg="blue">
    <div bx-logo>
        <img src="/img/boxy.ico" alt="Boxy">
        <a href="/">BOXY</a>
    </div>

    <div bx-content>
        <button class="b-btn" color="pink">¿Que es Boxy?</button>
        <button class="b-btn" color="blue">3</button>
        <button class="b-btn" color="red">4</button>
        <button class="b-btn" color="warning">5 Us</button>
        <button class="b-btn" color="Green">Send</button>

        <div bx-mobile-bar>

            <div>
                <input class="b-input" type="text">
                <button class="b-btn" icon color="blue"><i class="fa fa-search"></i></button>
            </div>
            <h1>Este es un titulo</h1>
        </div>
    </div>
    <div bx-fixed show>
        <a href="https://github.com/hetziel/boxy" class="b-btn" color="default"><i
                class="fa-brands fa-github"></i>
            Github</a>
    </div>
    <div bx-mobile open="b-side-nav" open-nav>
        <i class="fa fa-bars"></i>
    </div>
</header>