<div class="b-menu w100" autoclose>
    <button bx-title>Empezando</button>
    <div bx-content>
        <div class="p1">
            <a href="/start.html" class="b-btn w100" color="green">Instalación</a>
        </div>
    </div>

    <button bx-title>Componentes</button>
    <div bx-content>
        <div class="p1">
            <button class="b-btn w100 mb1" color="alternate">Layout</button>
            <a href="./content/buttons.html" class="b-btn w100 mb1" color="alternate">Botones</a>
            <button class="b-btn w100" color="alternate">Tarjetas</button>
        </div>
    </div>
</div>