<div id="b-portfolio">
  <!-- MENU ENCABEZADO -->
  <div class="contenedor-header">
    <header>
      <div class="logo">
        <a href="#">Nick</a>
      </div>
      <nav id="nav">
        <ul>
          <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
          <li><a href="#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
          <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
          <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
          <li><a href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
          <li>
            <ul>
              <li><a href="#contacto" onclick="seleccionar()">CONTACTO</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="nav-responsive" b:click="mostrarOcultarMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>
  </div>

  <!-- SECCION INICIO -->
  <section id="inicio" class="inicio">
    <div class="contenido-banner">
      <div class="contenedor-img">
        <img src="/img/boxy.ico">
      </div>
      <h1>NICK PEREZ</h1>
      <h2>Ingeniero de Software - Experto UI/UX</h2>
      <div class="redes">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-skype"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"><i class="fa-solid fa-rss"></i></a>
      </div>
    </div>
  </section>
</div>