<div class="h100" bg-img="/img/start_bg.png">
  <div class="b-body">
    <div class="b-side" mobile bg="black 4">
      <div mobile-side hide><i class="fa-solid fa-arrows-left-right"></i></div>
      <div b-view="desktop"></div>
    </div>
    <div class="b-main" bg-dimg="img/start_bg.jpg">
      <div
        style="
          height: 200px;
          display: flex;
          align-items: center;
          position: relative;
        "
      >
        <span
          tx="white"
          style="font-family: 'Fredoka One'; font-size: 4rem; margin-left: 4rem"
          >BOXY</span
        >
        <span
          tx="red"
          style="
            font-family: 'Fredoka One';
            font-size: 2rem;
            margin-left: 4rem;
            position: absolute;
            top: 60%;
            left: 100px;
          "
          >Beta</span
        >
      </div>

      <div class="cont" style="align-items: stretch">
        <div class="div-12 div-md-6">
          <div class="b-box m1" tx="white">
            <div bx-heaD>
              <span class="tt-sm">Inicio rápido</span>
            </div>
            <div bx-content>
              <p>
                Comience incluyendo el CSS y JavaScript listos para producción
                de BOXY a través de CDN sin necesidad de ningún paso de
                compilación
              </p>

              <p>
                Coloca el trozo de código dentro del
                <code code short tx="yellow">&lt;head&gt;</code>
                y empieza a usar los nuevos complementos de Boxy en tu proyecto.
              </p>
              <div b-code="cdn-css"></div>

              <p>
                Coloca el trozo de código antes de terminar el en el
                <code code short tx="yellow">&lt;body&gt;</code>
                para hacer funcionar las modales, sidebars y bg-img
              </p>
              <div b-code="cdn-js"></div>

              <span class="tt-xs mt2">Ejemplo</span>
              <p>
                Crea un archivo HTML y copia este ejemplo para hacer una prueba
                del CDN de Boxy.
              </p>
              <div b-code="cdn-example"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
