<div class="h100" bg-img="/img/md.jpg">
  <div class="b-body">
    <div class="b-main" bg-img="img/md.jpg">
      <div
        bg="white"
        class="jc-center"
        style="display: flex; align-items: center"
      >
        <div class="div-8 div-lg-4 p1">
          <img src="/img/start.svg" class="w100" />
        </div>

        <div class="div-12 div-lg-6 p2">
          <span class="tt-md tc" tx="blue">Comienza con Boxy</span>
          <p tx="secondary" class="tc">
            Boxy es un Framework orientado al Front-end para tener una
            apariencia elegante, con multiples funciones para facilitar el
            desarrollo.
          </p>
        </div>
      </div>

      <div class="cont jc-center" style="align-items: stretch">
        <div class="div-12">
          <div class="b-box m1" skin="blur" bg="light">
            <div bx-heaD>
              <span class="tt-sm">Inicio rápido</span>
            </div>
            <div bx-content>
              <p>
                Comience incluyendo el CSS y JavaScript listos para producción
                de BOXY a través de CDN sin necesidad de ningún paso de
                compilación
              </p>

              <p>
                Coloca el trozo de código dentro del
                <code code short tx="yellow">&lt;head&gt;</code>
                y empieza a usar los nuevos complementos de Boxy en tu proyecto.
              </p>
              <div b-code="cdn-css"></div>

              <p>
                Coloca el trozo de código antes de terminar el en el
                <code code short tx="yellow">&lt;body&gt;</code>
                para hacer funcionar las modales, sidebars y bg-img
              </p>
              <div b-code="cdn-js"></div>

              <span class="tt-xs mt2">Ejemplo</span>
              <p>
                Crea un archivo HTML y copia este ejemplo para hacer una prueba
                del CDN de Boxy.
              </p>
              <div b-code="cdn-example"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
