<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async
      src="https://www.googletagmanager.com/gtag/js?id=G-G9YSR68RY6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-G9YSR68RY6');
  </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Boxy es un Framework orientado al
      Front-end para tener una apariencia elegante, con multiples funciones para
      facilitar el desarrollo.">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOXY - Buttons</title>
    <link rel="stylesheet" href="./../css/boxy.min.css" />
    <link rel="stylesheet"
      href="./../vendor/fontawesome-free-6.1.1-web/css/all.min.css"
      />
    <script src="./../vendor/fontawesome-free-6.1.1-web/js/all.min.js"></script>
  </head>

  <body bg-img="./../img/md.jpg" fixed>
    <header class="b-header" gradient bg="primary">
      <a href="/" class="b-header-logo">BOXY</a>
      <div class="b-header-fixed">
        <a href="https://github.com/hetziel/boxy" class="b-btn" color="default"><i
            class="fa-brands fa-github"></i> Github</a>
      </div>
    </header>

    <div class="cont jc-center">
      <div class="div-12 div-lg-10 div-xl-8 p1">
        <div class="b-box">
          <div bx-head>
            <span class="tt-md">Botones</span>
          </div>
          <div bx-content>
            <p>Boxy actualmente contiene 5 tipos de botones con multiples
              atributos para personalizarlos a tu gusto:</p>
            <div class="tc">
              <button class="b-btn m1" color="blue">b-btn</button>
              <button class="b-btn-push m1" color="blue">b-btn-push</button>
              <button class="b-btn-gate m1" color="blue">b-btn-gate</button>
              <button class="b-btn-gradient m1" color="blue">b-btn-gradient</button>
              <button class="b-btn-neon m1" color="blue">b-btn-neon</button>
            </div>
          </div>
        </div>
      </div>

      <div class="div-12 div-lg-10 div-xl-8 p1">
        <div class="b-box" skin="blur" bg="light">
          <div bx-head><span class="tt-md">¿Como usar?</span></div>
          <div bx-content>
            <p>Simplemente añadiendo la clases disponibles con el prefijo <span class="px1" bg="dark-gray" tx="green">b-btn</span> puedes cambiar el aspecto del botón</p>

            <p>Escoge un color deseado con el atributo <span class="px1" bg="dark-gray" tx="pink">color</span> disponible para los botones.</p>

            <p class="mb0">Para saber los colores disponibles abre <a href="./../pages/colors.html">aquí</a></p>
            <div class="b-table mb2 mt2">
              <table>
                <tr bg="primary" tx="light">
                  <th>Clases</th>
                  <th>Atributos</th>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>b-btn (Por defecto)</li>
                      <li>b-btn-push (Presión)</li>
                      <li>b-btn-gate (Compuerta)</li>
                      <li>b-btn-gradient (Gradiente)</li>
                      <li>b-btn-neon (Neón)</li>
                    </ul>
                  </td>
                  <td>
                   

                    <ul>
                      <li>color</li>
                    </ul>
                  </td>
                </tr>
              </table>
            </div>

            <div class="mt1">
              <code code>&lt;button class="<span tx="warning">b-btn</span>"
                color="<span tx="info">blue</span>"&gt;<span tx="light">Botón</span>&lt;/button&gt;</code>
            </div>

            
          </div>
        </div>
      </div>

      <div class="div-12 div-lg-10 div-xl-8 p1">
        <div class="b-box">
          <div bx-head>
            <span class="tt-md">Tipos de botones</span>
          </div>
          <div bx-content>
            <p>Cada botón tiene una clase y atributos propios, dale clic a algún botón para ver como personalizarlos</p>
            <div class="flex wrap jc-center">
              <a href="./b-btn.html" class="b-btn m1" color="blue">b-btn</a>
              <a href="./b-btn-push.html" class="b-btn-push m1" color="blue">b-btn-push</a>
              <a href="./b-btn-gate.html" class="b-btn-gate m1" color="blue">b-btn-gate</a>
              <a href="./b-btn-gradient.html" class="b-btn-gradient m1" color="blue">b-btn-gradient</a>
              <a href="./b-btn-neon.html" class="b-btn-neon m1" color="blue">b-btn-neon</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script type="text/javascript" src="../js/boxy.min.js"></script>
  </body>
</html>