<div class="b-box">
  <div bx-head>
    <span class="tt-md">Botón por defecto</span>
  </div>
  <div bx-content>
    <h1>Clase</h1>

    <p>
      Para aplicar el diseño al botón solo colocar la clase
      <code code short>b-btn</code> y el atributo
      <code code short>color</code> con el color que desees:
    </p>

    <div b-code="buttons/example-btn"></div>
    <br />
    <br />
    <span class="tt-md">Color</span>

    <p>
      Aquí se muestran los botones con los colores disponbles incluyendo algunos
      colores extras:
    </p>
    <div class="tc p-1">
      <div class="div-12 tc">
        <button class="b-btn m1" color="green">green</button>
        <button class="b-btn m1" color="chartreuse">chartreuse</button>
        <button class="b-btn m1" color="yellow">yellow</button>
        <button class="b-btn m1" color="orange">orange</button>
        <button class="b-btn m1" color="red">red</button>
        <button class="b-btn m1" color="light-blue">light-blue</button>
        <button class="b-btn m1" color="aqua">aqua</button>
        <button class="b-btn m1" color="turq">turq</button>
        <button class="b-btn m1" color="blue">blue</button>
        <button class="b-btn m1" color="indigo">indigo</button>
        <button class="b-btn m1" color="purple">purple</button>
        <button class="b-btn m1" color="dark-pink">dark-pink</button>
        <button class="b-btn m1" color="pink">pink</button>
        <button class="b-btn m1" color="white">white</button>
        <button class="b-btn m1" color="gray">gray</button>
        <button class="b-btn m1" color="dark-gray">dark-gray</button>
        <button class="b-btn m1" color="black">black</button>

        <span class="w100 tt-md mt1 mb1">Extras:</span>

        <div class="b-box p-1 fit-content ib" bg="white">
          <span class="b-fs-sm">Para enlaces</span>
          <br />
          <button class="b-btn m1" color="link">link</button>
        </div>

        <div class="b-box p-1 fit-content ib" bg="dark">
          <span class="b-fs-sm" tx="white">Para fondos oscuros</span>
          <br />
          <button class="b-btn" color="default">default</button>
        </div>

        <div class="b-box p-1 fit-content ib">
          <span class="b-fs-sm">Para fondos claros</span>
          <br />
          <button class="b-btn" color="alternate">alternate</button>
        </div>
      </div>
    </div>

    <br /><br />
    <span class="tt-md">bordered</span>

    <p>Añade bordes a los botones pero quita el efecto de enfoque.</p>

    <div class="mb1">
      <code code
        >&lt;button class="<span tx="warning">b-btn</span>" color="<span
          tx="info"
          >blue</span
        >" <span tx="info">bordered</span>&gt;<span tx="light">Botón</span
        >&lt;/button&gt;</code
      >
    </div>
    <div class="tc p-1">
      <button class="b-btn m1" bordered color="blue">Botón</button>
      <button class="b-btn m1" bordered color="yellow">yellow</button>
      <button class="b-btn m1" bordered color="orange">orange</button>
      <button class="b-btn m1" bordered color="green">green</button>
      <button class="b-btn m1" bordered color="red">red</button>
    </div>

    <br /><br />

    <span class="tt-md">no-efx</span>

    <div class="b-box-content">
      <p>Quita el efecto de sombreado al pasar sobre el boton.</p>

      <div class="mb1">
        <code code
          >&lt;button class="<span tx="warning">b-btn</span>" color="<span
            tx="info"
            >blue</span
          >" <span tx="info">no-efx</span>&gt;<span tx="light">Botón</span
          >&lt;/button&gt;</code
        >
      </div>

      <div class="tc p-1">
        <button class="b-btn m1" no-efx color="blue">Botón</button>
        <button class="b-btn m1" no-efx color="yellow">yellow</button>
        <button class="b-btn m1" no-efx color="orange">orange</button>
        <button class="b-btn m1" no-efx color="green">green</button>
        <button class="b-btn m1" no-efx color="red">red</button>
      </div>
    </div>

    <br /><br />

    <span class="tt-md">no-focus</span>

    <p>Quita el efecto de enfocado en los bordes.</p>

    <div class="mb1">
      <code code
        >&lt;button class="<span tx="warning">b-btn</span>" color="<span
          tx="info"
          >blue</span
        >" <span tx="info">no-focus</span>&gt;<span tx="light">Botón</span
        >&lt;/button&gt;</code
      >
    </div>

    <div class="tc p-1">
      <button class="b-btn m1" no-focus color="blue">Botón</button>
      <button class="b-btn m1" no-focus color="yellow">yellow</button>
      <button class="b-btn m1" no-focus color="orange">orange</button>
      <button class="b-btn m1" no-focus color="green">green</button>
      <button class="b-btn m1" no-focus color="red">red</button>
    </div>
  </div>
</div>
