<div b-view="header"></div>

<div class="b-box">
  <div bx-head>
    <span class="tt-md">Botón Push</span>
  </div>
  <div bx-content>
    <h1>Clase</h1>

    <p>
      Para aplicar el diseño al botón solo colocar la clase
      <span tx="red">b-btn</span> y el atributo
      <span tx="purple">color</span> con el color que desees:
    </p>

    <div class="mt1 div-6">
      <code code
        >&lt;button class="<span tx="warning">b-btn</span>" color="<span
          tx="info"
          >blue</span
        >"&gt;<span tx="light">Botón</span>&lt;/button&gt;</code
      >
    </div>
  </div>
</div>
