<div class="b-modal" modal="pos1" position="1">
    <div bx-content>
        <div bx-head>
            <span bx-title>Una triste historia</span>
            <button class="b-btn-icon" maximize-modal>+</button>
            <button class="b-btn-icon" close-modal>&times;</button>
        </div>
        <div class="b-modal-body">
            <p>
                Mi billetera <br>
                es como una cebolla <br>
                al abrirla me hace llorar.
            </p>
        </div>
    </div>
</div>
<div class="b-modal" modal="pos2" position="2">
    <div bx-content>
        <div bx-head>
            <span bx-title>Una triste historia</span>
            <button class="b-btn-icon" maximize-modal>+</button>
            <button class="b-btn-icon" close-modal>&times;</button>
        </div>
        <div class="b-modal-body">
            <p>
                Mi billetera <br>
                es como una cebolla <br>
                al abrirla me hace llorar.
            </p>
        </div>
    </div>
</div>
<div class="b-modal" modal="pos3" position="3">
    <div bx-content>
        <div bx-head>
            <span bx-title>Una triste historia</span>
            <button class="b-btn-icon" maximize-modal>+</button>
            <button class="b-btn-icon" close-modal>&times;</button>
        </div>
        <div class="b-modal-body">
            <p>
                Mi billetera <br>
                es como una cebolla <br>
                al abrirla me hace llorar.
            </p>
        </div>
    </div>
</div>
<div class="b-modal" modal="pos4" position="4">
    <div bx-content>
        <div bx-head>
            <span bx-title>Una triste historia</span>
            <button class="b-btn-icon" maximize-modal>+</button>
            <button class="b-btn-icon" close-modal>&times;</button>
        </div>
        <div class="b-modal-body">
            <p>
                Mi billetera <br>
                es como una cebolla <br>
                al abrirla me hace llorar.
            </p>
        </div>
    </div>
</div>
<div class="b-modal" modal="pos5" position="5">
    <div bx-content>
        <div bx-head>
            <span bx-title>Una triste historia</span>
            <button class="b-btn-icon" maximize-modal>+</button>
            <button class="b-btn-icon" close-modal>&times;</button>
        </div>
        <div class="b-modal-body">
            <p>
                Mi billetera <br>
                es como una cebolla <br>
                al abrirla me hace llorar.
            </p>
        </div>
    </div>
</div>
<div class="b-modal" modal="pos6" position="6">
    <div bx-content>
        <div bx-head>
            <span bx-title>Una triste historia</span>
            <button class="b-btn-icon" maximize-modal>+</button>
            <button class="b-btn-icon" close-modal>&times;</button>
        </div>
        <div class="b-modal-body">
            <p>
                Mi billetera <br>
                es como una cebolla <br>
                al abrirla me hace llorar.
            </p>
        </div>
    </div>
</div>
<div class="b-modal" modal="pos7" position="7">
    <div bx-content>
        <div bx-head>
            <span bx-title>Una triste historia</span>
            <button class="b-btn-icon" maximize-modal>+</button>
            <button class="b-btn-icon" close-modal>&times;</button>
        </div>
        <div class="b-modal-body">
            <p>
                Mi billetera <br>
                es como una cebolla <br>
                al abrirla me hace llorar.
            </p>
        </div>
    </div>
</div>
<div class="b-modal" modal="pos8" position="8">
    <div bx-content>
        <div bx-head>
            <span bx-title>Una triste historia</span>
            <button class="b-btn-icon" maximize-modal>+</button>
            <button class="b-btn-icon" close-modal>&times;</button>
        </div>
        <div class="b-modal-body">
            <p>
                Mi billetera <br>
                es como una cebolla <br>
                al abrirla me hace llorar.
            </p>
        </div>
    </div>
</div>
<div class="b-modal" modal="pos9" position="9">
    <div bx-content>
        <div bx-head>
            <span bx-title>Una triste historia</span>
            <button class="b-btn-icon" maximize-modal>+</button>
            <button class="b-btn-icon" close-modal>&times;</button>
        </div>
        <div class="b-modal-body">
            <p>
                Mi billetera <br>
                es como una cebolla <br>
                al abrirla me hace llorar.
            </p>
        </div>
    </div>
</div>