<div bx-content>
  <div bg="black"><span tx="white" id="time"></span></div>
  <div class="b-desktop">
    
    <foreach value="item in desktop">
      <div bx-item b-go="{{ $item.link }}">
        <if value="{{ $item.status }}">
          <span bx-status>{{ $item.status }}</span>
        </if>
        <img bx-icon b:src="/{{ $item.image }}" />
        <span bx-title>{{ $item.title }}</span>
      </div>
    </foreach>

    <div bx-item b-go="content/cards">
      <span bx-status>Beta</span>
      <img bx-icon src="/img/boxy.ico" />
      <span bx-title>@("home.cards")</span>
    </div>
    <div bx-item b-go="content/colors">
      <span bx-status>Beta</span>
      <img bx-icon src="/img/boxy.ico" />
      <span bx-title>Colores</span>
    </div>
    <div bx-item b-go="content/typography">
      <span bx-status>Beta</span>
      <img bx-icon src="/img/boxy.ico" />
      <span bx-title>Tipografía</span>
    </div>
    <div bx-item b-go="content/modals">
      <span bx-status>Beta</span>
      <img bx-icon src="/img/boxy.ico" />
      <span bx-title>Modales</span>
    </div>
    <div bx-item b-go="content/header">
      <span bx-status>Beta</span>
      <img bx-icon src="/img/boxy.ico" />
      <span bx-title>Headers</span>
    </div>
   
  </div>
</div>
