<div bx-content>
  <div class="b-desktop">
    <div bx-item b-go="start">
      <img bx-icon src="desktop/start.png" />
      <span bx-title>Start</span>
    </div>
    <div bx-item b-go="second">
      <img bx-icon src="desktop/home.png" />
      <span bx-title>Test</span>
    </div>
    <div bx-item b-go="content/grid">
      <img bx-icon src="desktop/grid.png" />
      <span bx-title>Grid</span>
    </div>
    <div bx-item b-go="content/box">
      <img bx-icon src="desktop/box.png" />
      <span bx-title>Box</span>
    </div>
    <div bx-item b-go="content/bg-img">
      <img bx-icon src="desktop/bg-img.png" />
      <span bx-title>BG-IMG</span>
    </div>
    <div bx-item b-go="content/buttons">
      <span bx-status>Beta</span>
      <img bx-icon src="img/boxy.ico" />
      <span bx-title>Buttons</span>
    </div>
    <div bx-item b-go="content/cards">
      <span bx-status>Beta</span>
      <img bx-icon src="img/boxy.ico" />
      <span bx-title>Cards</span>
    </div>
    <div bx-item b-go="content/colors">
      <span bx-status>Beta</span>
      <img bx-icon src="img/boxy.ico" />
      <span bx-title>Colores</span>
    </div>
    <div bx-item b-go="content/typography">
      <span bx-status>Beta</span>
      <img bx-icon src="img/boxy.ico" />
      <span bx-title>Tipografía</span>
    </div>
    <div bx-item b-go="content/modals">
      <span bx-status>Beta</span>
      <img bx-icon src="img/boxy.ico" />
      <span bx-title>Modales</span>
    </div>
    <div bx-item b-go="content/header">
      <span bx-status>Beta</span>
      <img bx-icon src="img/boxy.ico" />
      <span bx-title>Headers</span>
    </div>
   
    <foreach value="item in desktop">
      <div bx-item b-go="{{ $item.link }}">
        <span bx-status>Beta</span>
        <img bx-icon b:src="{{ $item.image }}" />
        <span bx-title>{{ $item.title }}</span>
      </div>
    </foreach>
  </div>
</div>
